body {
  max-width:1024px;
  margin:40px auto;
  padding:0 10px;
  font:18px/1.5 sans-serif;
  color:#333
}
h1,h2,h3 {
  line-height:1.2;
}
table,th,tr,td {
  border:1px solid;
  padding:0 10px;
  border-collapse:collapse;
}
pre {
  overflow:scroll;
  padding:10px;
}
pre,code {
  color:#000;
  background:#eee;
  border-radius:6px;
}
.note,.warn,.important {
  background:#eee;
  margin:12px;
  padding:10px;
}
.note pre,.note code {
  background:#fff;
}
.warn pre,.warn code {
  background:#fff;
}
.important pre,.important code {
  background:#fff;
}
.note::before {
  color:#fff;
  background:#06a;
  content:'NOTE';
  padding:0px 8px;
  border-radius:6px;
  margin:-20px;
}
.warn::before {
  color:#fff;
  background:#d60;
  content:'WARNING';
  padding:0px 8px;
  border-radius:6px;
  margin:-20px;
}
.important::before {
  color:#fff;
  background:#d00;
  content:'IMPORTANT';
  padding:0px 8px;
  border-radius:6px;
  margin:-20px;
}
@media only screen and (max-width:1024px) and (orientation:portrait) {
  body {
    font-size:150%;
  }
}
@media (prefers-color-scheme:dark) {
  body {
    color:#ccc;
    background:#000;
  }
  pre,code {
    color:#fff;
    background:#222;
  }
  .note,.warn,.important {
    background:#222;
  }
  .note pre,.note code {
    background:#000;
  }
  .warn pre,.warn code {
    background:#000;
  }
  .important pre,.important code {
    background:#000;
  }
  a:link {
    color:#69f;
  }
  a:visited {
    color:#99f;
  }
}
