body {
  max-width:1024px;
  margin:40px auto;
  padding:0 10px;
  font:18px/1.5 sans-serif;
  color:#444
}
h1,h2,h3 {
  line-height:1.2;
}
table,th,tr,td {
  border:1px solid;
  padding:0 10px;
  border-collapse:collapse;
}
pre {
  overflow:scroll;
  padding:10px;
}
pre,code {
  background:#eee;
}
@media only screen and (max-width:1024px) and (orientation:portrait) {
  body {
    font-size:220%;
  }
}
@media (prefers-color-scheme:dark) {
  body {
    color:#c9d1d9;
    background:#0d1117;
  }
  pre,code {
    background:#000;
  }
  a:link {
    color:#58a6ff;
  }
  a:visited {
    color:#8e96f0;
  }
}

